.controlos{
	width: 90%;
	height: 100px;
	margin: 0 auto;
	position: relative;
	border: 1px solid black;
}

#bt1{
	background-color:red;
	width:100px;
	height: 100px;
	float: left;
}

#bt2{
	background-color:blue;
	width:100px;
	height: 100px;
	float: right;
}

#bt3{
	background-color:green;
	width:100px;
	height: 100px;
	float: left;
}

#bt4{
	background-color:yellow;
	width:100px;
	height: 100px;
	float: right;
}

.areadejogo{
	width: 90%;
	height: 400px;
	margin: 0 auto;
	position: relative;
	border: 1px solid red;
}

#boneco{
position: absolute;
width: 100px;
height: 100px;
left: 100px;
top: 20px;
}